$background-color: #204D74;
$nav-link-color: #EEE;
.clear {clear:both;}
.container{
	margin-top: 70px;
}
.navbar-inverse {
	background-color: $background-color;
}

.navbar-inverse .navbar-nav>li>a{
	color: $nav-link-color
}

.label {display: inline-block;}